@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* ============== VARIABLE CSS ============== */
:root {
    --header-height: 3rem;

    /* ============== COLORS ============== */
    /* DECIDE YOUR BROWSER THEME */
    --hue-color: 230; /* GREEN: 144, BLUE: 230, PURPLE: 250 PINK: 340 */

    /* HSL Color Mode */
    --first-color: hsl(var(--hue-color), 69%, 58%);
    --first-color-second: hsl(var(--hue-color), 71%, 47%);
    --first-color-alt: hsl(var(--hue-color), 55%, 50%);
    --first-color-lighter: hsl(var(--hue-color), 90%, 82%);

    --title-color: hsl(var(--hue-color), 10%, 15%);
    --text-color: hsl(var(--hue-color), 10%, 40%);
    --mainText: hsl(var(--hue-color), 10%, 20%);
    --text-color-light: hsl(var(--hue-color), 10%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 88%);
    --body-color: hsl(var(--hue-color), 66%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 15%, 85%);
    --scroll-thumb-color: hsl(var(--hue-color), 15%, 70%);
    --gradient-color: linear-gradient(140deg, rgba(93, 72, 199, 1) 0%, rgba(94, 91, 201, 1) 40%, rgba(101, 125, 157, 1) 100%);

    /* ============== FONTS ============== */
    --gullible-font: 'Maven Pro', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --robotomono-font: 'Roboto Mono', monospace;
    --bigfat-font: 'Russo One', sans-serif;

    /* Font size: 1 rem = 16px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Margin Size */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ============== Z-INDEX ============== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* ============== BACKGROUND ============== */
    --background-body-color: #FFF;
    --border-color: none;
    --border-style: none;
    --footer-color: var(--first-color-alt);
}

/* ============== FONT SIZE FOR LARGER DEVICES ============== */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/* ============== VARIABLE COLOR FOR DARK THEME ============== */
body.dark-theme {
    /* HSL Color Mode */
    --first-color: hsl(var(--hue-color), 69%, 58%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --first-color-alt: hsl(var(--hue-color), 55%, 50%);
    --first-color-lighter: hsl(var(--hue-color), 90%, 82%);

    --title-color: hsl(var(--hue-color), 10%, 95%);
    --text-color: hsl(var(--hue-color), 10%, 75%);
    --mainText: hsl(var(--hue-color), 10%, 75%);
    --text-color-light: hsl(var(--hue-color), 10%, 65%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 30%, 14%);
    --container-color: hsl(var(--hue-color), 30%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 10%, 50%);
    --scroll-thumb-color: hsl(var(--hue-color), 15%, 32%);
    --background-body-color: rgba(255, 255, 255, 0.068);
    --border-color: rgba(255, 255, 255, 0.425); 
    --border-style: solid;
    --footer-color: hsl(250, 53%, 26%);
}

/* ============== NAV BUTTONS DARK/LIGHT THEME ============== */
.nav__btns {
    display: flex;
    align-items: center;
    padding-left: var(--mb-0-5);
    margin: 0;
    margin-top: -5px;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(var(--mb-1));
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/* ====================== BASE ====================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ====================== REUSABLE CSS CLASSES ====================== */
.section {
    padding: 2rem 0 4rem;
    margin: auto;
    min-height: 80vh;
}

.section__title {
    font-size: var(--big-font-size);
    font-family: var(--gullible-font);
    text-align: center;
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    text-align: center;
    color: var(--text-color);
}

/* ====================== BUTTON STYLING ====================== */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: var(--mb-1);
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
    color: #fff;
}

.button__icon {
    font-size: var(--mb-1-25);
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--white {
    background-color: #fff;
    color: var(--first-color);
}

.button--white:hover {
    background-color: var(--first-color-lighter);
}

/* ====================== LAYOUT ====================== */
.container {
    margin-right: auto;
}

.grid {
    display: grid;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    margin-right: var(--mb-0-25);
}

/* ====================== NAV STYLING ====================== */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--mb-0-5);
    margin-right: var(--mb-0-5);
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: var(--h3-font-size);
    cursor: pointer;
    margin-right: var(--mb-2);
}

.nav__toggle:hover {
    color: var(--first-color);
}

.navbar-brand {
    font-family: var(--robotomono-font);
}

@media screen and (max-width: 769px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        right: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .5s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

/* SHOW MENU */
.show-menu {
    bottom: 0;
}

/* ACTIVE LINK */
.active-link {
    color: var(--first-color);
}

/* Change background header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* ====================== HOME ====================== */

.home {
    height: 70vh;
    align-content: space-between;
    margin-top: var(--mb-3);
    padding-bottom: 0;
    margin-bottom: var(--mb-2);
}

.home__container {
    display: flex;
    gap: 1.75rem;
    padding-left: 0;
    margin-left: var(--mb-1);
    justify-content: space-between;
    align-items: center;
}

.home__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'home__social home__content';
    padding-top: var(--mb-2-5);
    align-items: center;
    height: auto;
    align-content: space-between;
    margin-right: var(--mb-0-25);
    margin-left: 0;
}

.home__social {
    display: grid;
    grid-area: home__social;
    row-gap: 1rem;
    column-gap: 0;
    padding-top: 2rem;
    margin: 0;
}

.home__social-icon {
    font-size: var(--mb-1-25);
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__data {
    grid-area: home__content;
    width: 600px;
    align-content: center;
    text-align: center;
}

.home__welcome {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    padding: var(--mb-1-5)
}

.home__title {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-top: var(--mb-1-5);
    padding-bottom: var(--mb-1);
}

#typewriter {
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-2);
    color: var(--text-color);
    font-family: var(--robotomono-font);
    font-size: var(--h2-font-size);
}  

.Typewriter__wrapper {
    text-align: center;
    font-size: var(--h2-font-size);
    font-family: var(--robotomono-font);
    font-weight: var(--font-medium);
    color: var(--mainText)
}

.Typewriter__cursor {
    font-size: var(--h1-font-size);
    color: teal;
    font-family: var(--gullible-font);
}

.home__subtitle {
    text-align: center;
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

/* SCROLL DOWN */
@keyframes scrollDown {
    0% {
        margin-top: 14px;
        opacity: 0;
 }

    15% {
        margin-top: 14px;
        opacity: 1;
    }
    30% {
        margin-top: 16px;
        opacity: 1;
    }
    50% {
        margin-top: 30px;
        opacity: 1;
    }
    100% {
        margin-top: 30px;
        opacity: 0;
    }
}

.home__scroll {
    display: flex;
    justify-content: center;
    margin-top: 0;
    animation: scrollDown 3s infinite;
}

.home__scroll-button {
    color: var(--first-color);
    transition: .5s;
}

.home__scroll-button:hover {
    color: var(--first-color-alt);
    transform: translateY(.25rem);
}

.home__scroll-mouse {
    font-size: var(--big-font-size); 
    margin-top: var(--mb-3);   
}

/* ====================== ABOUT ====================== */
.about {
    padding-top: 1rem;
}
.about__img {
    width: 200px;
    border-radius: .5rem;
    margin-bottom: var(--mb-2);
    display: inline-flex;
    justify-self: center;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
    color: var(--text-color);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color)
}

.about__info-name {
    font-size: var(--smaller-font-size);
    font-family: var(--roboto-font);
    color: var(--text-color);
}

.about__info.name,
.about__info.title {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}

/* ====================== SKILLS ====================== */
.skills__container-card {
    display: grid;
    position: relative;
    width: auto;
    height: auto;
    padding-bottom: var(--mb-0-75);
    margin: auto;
    margin-bottom: var(--mb-2);
}

.skills__container-card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.card_skill {
    position: relative;
    width: 150px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    padding: 2em;
    text-shadow: 0 0 1em transparent(#000, 0.5);
    transform: perspective(500px);
    transform-style: preserve-3d;
}

.card_skill::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--first-color-lighter);
    clip-path: circle(100px at 70% 20%);
    transition: 0.5s ease-in-out;
}

.card_skill:hover::before {
    clip-path: circle(280px at 80% -20%);
    transform: scale(1.08);
}

.card_skill::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: var(--h2-font-size);
    font-style: italic;
    color: var(--text-color-light);
}

.imgBx {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: translate(-5%, 0%);
    object-fit: fill;
}

.skill-img {
    width: 100px;
    height: 100px;
}

.contentBx {
    display: flex;
    align-content: space-between;
    text-align: center;
    position: relative;
    width: 0%;
    height: 0%;
    transform: scale(0.0);
    transition: 1s;
}

.card_skill:hover .contentBx {
    display: flex;
    height: 100%;
    width: 70%;
    position: relative;
    object-fit: cover;
    text-align: center;
    transform: translate(-42%, 92%);
    transition: 1.5s;
}

.card_skill .contentBx h2 {
    position: relative;
    font-weight: var(--font-medium);
    color: #FFF;
    margin: 0;
    padding: 0;
}

.shadow2 {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); 
}

/* ====================== QUALIFICATION ====================== */
.qualification__content {
    margin-bottom: var(--mb-1);
    padding: auto;
}

.qualification__button {
    color: var(--first-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
    position: relative;
    transform: translateX(15%);
    margin-bottom: var(--mb-0-5);
    margin-top: var(--mb-1);
}

.qualification__button:hover {
    color: var(--first-color-alt);
}

.qualification__icon {
    font-size: var(--h1-font-size);
    margin-right: var(--mb-0-5);
}

.qualification__journey {
    display: flex;
    justify-content: space-between;
}

.qualification__line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--first-color-lighter);
    align-items: flex-end;
    transform: translateX(20px);
    margin-right: 0;
    padding: 0; 
}

.qualification__calender_icon {
    font-size: var(--normal-font-size);
}

.qualification__calendar {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.qualification__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    color: var(--text-color);
}

.transparent_card {
    background-color: var(--background-body-color);
    border-color: var(--border-color);
}

.mirror-face {
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 2rem;
    height: initial;
    overflow: hidden;
    position: relative;
}

.task {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    perspective: 800px;
    transform-style: preserve-3d;
}

.abstract {
    transition: 0.8s ease all;
}

.details {
    max-height: 0;
    padding-top: var(--mb-1);
    overflow: hidden;
    visibility: hidden;
    transform: rotateX(-180deg);
    transform-origin: top center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.8s transform ease;
}

.details::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    height: 1px;
    background: var(--text-color-light);
}

.task:hover .details {
    max-height: none;
    overflow: visible;
    visibility: visible;
    transform: rotateX(0deg);
    transition: 0.8s transform ease;
}

.qualification__start {
    display: inline-flex;
    width: 14px;
    height: 14px;
    margin-top: var(--mb-0-5);
    justify-content: flex-end;
    background-color: tranparent;
    border-radius: auto;
    transform: translate(15px, 5px);
}

.qualification__start-icon {
    font-size: var(--h3-font-size);
    color: var(--mainText);
}

/* ====================== PORTFOLIO ====================== */
/* https://codepen.io/bJhA/pen/NWjBaQb */
.blog-slider {
	width: 95%;
	position: relative;
	max-width: 800px;
	margin: auto;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 25px;
	border-radius: 25px;
	height: 400px;
	transition: all 0.3s;
    background-color: var(--background-body-color);
    border-style: var(--border-style);
    border-color: var(--border-color);
  }

  @media screen and (max-width: 992px) {
	.blog-slider {
	  max-width: 680px;
	  height: 400px;
	}
  }
  @media screen and (max-width: 768px) {
	.blog-slider {
	  min-height: 500px;
	  height: auto;
	  margin: 180px auto;
	}
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
	.blog-slider {
	  height: 350px;
	}
  }
  .blog-slider__item {
	display: flex;
	align-items: center;
  }
  @media screen and (max-width: 768px) {
	.blog-slider__item {
	  flex-direction: column;
	}
  }
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
	opacity: 1;
	transition-delay: 0.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
	opacity: 1;
	transform: none;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
	transition-delay: 0.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
	transition-delay: 0.4s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
	transition-delay: 0.5s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
	transition-delay: 0.6s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
	transition-delay: 0.7s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
	transition-delay: 0.8s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
	transition-delay: 0.9s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
	transition-delay: 1s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
	transition-delay: 1.1s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
	transition-delay: 1.2s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
	transition-delay: 1.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
	transition-delay: 1.4s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
	transition-delay: 1.5s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
	transition-delay: 1.6s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
	transition-delay: 1.7s;
  }
  .blog-slider__img {
	width: 300px;
	flex-shrink: 0;
	height: 300px;
	background-image: var(--gradient-first);
	box-shadow: 4px 13px 30px 1px rgba(57, 158, 218, 0.2);
	border-radius: 20px;
	transform: translateX(-80px);
	overflow: hidden;
  }
  .blog-slider__img:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: var(--gradient-first);
	border-radius: 20px;
	opacity: 0.8;
  }
  .blog-slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 0;
	border-radius: 20px;
	transition: all 0.3s;
  }
  @media screen and (max-width: 768px) {
	.blog-slider__img {
	  transform: translateY(-50%);
	  width: 90%;
	}
  }
  @media screen and (max-width: 576px) {
	.blog-slider__img {
	  width: 95%;
	}
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
	.blog-slider__img {
	  height: 270px;
	}
  }
  .blog-slider__content {
	padding-right: 25px;
  }
  @media screen and (max-width: 768px) {
	.blog-slider__content {
	  margin-top: -80px;
	  text-align: center;
	  padding: 0 30px;
	}
  }
  @media screen and (max-width: 576px) {
	.blog-slider__content {
	  padding: 0;
	}
  }
  .blog-slider__content > * {
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.4s;
  }
  .blog-slider__code {
	color: var(--text-color-light);
	margin-bottom: 15px;
	display: block;
	font-weight: 500;
  }
  .blog-slider__title {
	font-size: 24px;
	font-weight: 700;
	color: var(--title-color);
	margin-bottom: 20px;
  }
  .blog-slider__text {
	color: var(--text-color);
	margin-bottom: 30px;
	line-height: 1.5em;
  }
  .blog-slider__button {
	display: inline-flex;
	background-image: linear-gradient(147deg, var(--first-color) 0%, var(--first-color-alt) 47%); 
	padding: 15px 35px;
	border-radius: 50px;
	color: #fff;
	box-shadow: 0px 14px 80px rgba(76, 56, 252, 0.4);
	text-decoration: none;
	/* font-weight: 500; */
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
  }
  
  .blog-slider__button:hover .button__icon{
	transform: translateX(.25rem);
  }

  @media screen and (max-width: 576px) {
	.blog-slider__button {
	  width: 100%;
	}
  }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .blog-slider .swiper-pagination-custom,
  .blog-slider .swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
  }
  .blog-slider__pagination {
	position: absolute;
	z-index: 21;
	right: 20px;
	width: 11px !important;
	text-align: center;
	left: auto !important;
	top: 50%;
	bottom: auto !important;
	transform: translateY(-50%);
  }
  @media screen and (max-width: 768px) {
	.blog-slider__pagination {
	  transform: translateX(-50%);
	  left: 50% !important;
	  top: 205px;
	  width: 100% !important;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
  }
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 8px 0;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	  margin: 0 5px;
	}
  }
  .blog-slider__pagination .swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	display: block;
	border-radius: 10px;
	background: #062744;
	opacity: 0.2;
	transition: all 0.3s;
  }
  .blog-slider__pagination .swiper-pagination-bullet-active {
	opacity: 1;
	background: var(--first-color-alt);
	height: 30px;
	box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
  }
  @media screen and (max-width: 768px) {
	.blog-slider__pagination .swiper-pagination-bullet-active {
	  height: 11px;
	  width: 30px;
	}
  }

  /* ====================== CONTACT ====================== */
  .contact_mail {
      margin-left: var(--mb-3);
      margin-right: var(--mb-2);
      width: 90%;
  }

  .contact__container {
      row-gap: 2rem;
      width: auto;
  }

  .contact__information {
      display: flex;
      margin-bottom: var(--mb-2);
  }

  .contact__icon {
      font-size: var(--mb-2);
      color: var(--first-color);
      margin-right: var(--mb-0-75);
  }

  .contact__title {
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
  }

  .contact__subtitle {
      font-size: var(--small-font-size);
      color: var(--text-color);
  }

  /* Form */
  .contact-form {
      position: relative;
      z-index: 1;
  }

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}

form input, form textarea {
    border: 5px;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: var(--roboto-font);
    -moz-box-shadow: 0 1px 1px rgba(0,0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0,0, 0, 0.1);
    resize: none
}

form input:focus, form textarea:focus {
    -moz-box-shadow: 0 0px 2px var(--first-color-lighter) !important;
    -webkit-box-shadow: 0 1px 1px (var(--first-color-lighter)) !important;
    box-shadow: 0 1px 1p (var(--first-color-lighter)) !important;
}

form #input-submit {
    color: white;
    background: var(--first-color-alt);
    cursor: pointer;
}

form #input-submit:hover {
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
    height: 130px;
}

.form__color {
    background-color: var(--background-body-color);
}

.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf::after {
    clear: both;
}

.send-message {
    width: 80%;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin-top: var(--mb-0-5);
    transition: all 0.5s;
}

.send-message:hover {
    padding-left: 15px;
    transition: all 0.5s;
}

/* ====================== FOOTER ====================== */
.footer {
    padding: 0;
}

.footer__container {
    row-gap: 3.5rem;
}

.footer__bg {
    background-color: var(--footer-color);
    padding: 2rem 0 3rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover {
    color: var(--first-color-lighter);
}

.footer__socials {
    display: flex;
    justify-content: center;
    font-size: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    column-gap: var(--mb-1);
}

.footer__social {
    margin: var(--mb-0-5);
}

.footer__social:hover {
    color: var(--first-color-lighter);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--first-color-lighter);
    margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
    color: #FFF;
}

/* ====================== SCROLL UP ====================== */
.scrollup {
    position: fixed;
    right: var(--mb-1);
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: var(--mb-0-5);
    border-radius: var(--mb-0-5);
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup_icon {
    font-size: var(--mb-1-5);
    color: #FFF;
}

.show-scroll {
    bottom: 5rem;
}

/* ====================== SCROLL BAR ====================== */
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: var(--mb-0-5);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: var(--mb-0-5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/* ====================== @ MEDIA QUERIES @ ====================== */

/* Small Screen */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-0-25);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: .25fr 3fr;
    }

    .home__scroll {
        margin-top: var(--mb-0-25);
    }

    .home__scroll-mouse {
        margin-top: var(--mb-0-25);
    }

    .about {
        margin-top: 6rem;
    }

    .qualification__data {
        gap: 0.5rem;
    }

    .contact_mail {
        margin-left: var(--mb-1-5);
    }

    ::webkit-scrollbar {
        width: 0.4rem;
        border-radius: 0.4rem;
    }

    ::webkit-scrollbar-thumb {
        background-color: var(--scroll-thumb-color);
        border-radius: 0.2rem;
    }
}

/* Medium Screen */
@media screen and (min-width: 568px) {
    .section {
        min-height: 60vh;
    }

    .home__content {
        grid-template-columns: max-content 1fr;
    }

    .home__data {
        grid-column: initial;
    }

    .about__container,
    .skill__container,
    .portfolio__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(1, 1fr);
        padding-left: var(--mb-1);
        padding-right: var(--mb-1);
    }

    .portfolio {
        padding-bottom: var(--mb-0-25);
    }
    
    .contact {
        padding-top: 0;
    }

    .qualification__start-icon {
        position: absolute;
        transform: translateY(60%);
    }
}

/* Large Screen */
@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial; 
    }

    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 2.5rem;
        column-gap: 2rem;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about {
        margin-top: 4rem;
    }

    .about__container {
        column-gap: 5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__description {
        text-align: center;
    }

    .about__buttons {
        justify-content: center;
    }

    .qulification__button {
        margin: 0 var(--mb-1);
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__bg {
        padding: 3rem 0 3.5rem;
    }

    .footer__links {
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer__socials {
        justify-content: flex-end;
    }

    .footer__copy {
        margin-top: 4.5rem;
    }
}

/* X-Large Screen */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    #home {
        height: 85vh;
    }

    .home__data {
        transform: translateX(-4rem);
    }

    .contact__form {
        width: 460px;
    }

    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__container {
        padding-left: var(--mb-3);
        padding-top: var(--mb-3);
        row-gap: 4rem;
    }

    .form {
        min-width: 700px;
    }
}